* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.profile {
  width: 320px;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid grey;
}

.description {
  padding: 25px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

.profile .avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 100px;
  border-radius: 50px;
  background-color: #fff;
}

.name,
.quantity {
  font-weight: bold;
}

.stats {
  height: 50px;
  display: flex;

  outline: 1px solid grey;
}

.stats-item {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  outline: 1px solid grey;
}
/* == Statistics == */
.statistics {
  margin-top: 25px;
  margin-left: 5px;
  width: 320px;
  border: 1px solid grey;
}

.statistics .title {
  padding-top: 15px;
  padding-bottom: 15px;

  text-transform: uppercase;
  font-size: medium;
  text-align: center;

  outline: 1px solid grey;
}

.stat-list {
  display: flex;
}

.stat-list .item {
  width: 20%;
  height: 64px;
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;

  outline: 1px solid grey;
}
/* == friends list == */
.friend-list {
  margin-top: 25px;
  margin-left: 5px;
  width: 240px;
}

.friend-list .item {
  padding: 5px;
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.friend-list .avatar {
  border-radius: 5px;
  background-color: rgb(0, 234, 255);
}

.friend-list .name {
  margin-left: 10px;
  font-size: x-large;
}

.status {
  width: 10px;
  height: 10px;
  margin: 0 15px 0 10px;

  border-radius: 5px;
}
/* == transaction history == */
.transaction-history {
  width: 320px;
  margin-left: 5px;
  margin-bottom: 25px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

thead th {
  padding: 15px 0;

  color: white;
  background-color: mediumturquoise;
  text-transform: uppercase;
}

td {
  padding: 10px 15px;
}

tr:nth-child(2n) {
  background: gainsboro;
}
